@import url(varriables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.menu{
    display: none;
}

img.mobile-avatar{
    display: none;
}

input#toggle{
    display: none;
}

.logo_mobile{
    display: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

.wrapper>.navbar{
    display: block;
    padding-top: 8px;
}

.wrapper>.navbar>.logo{
    background: var(--var-main-color);
    width: 110px;
    text-align: center;
    color:white;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 38px;
    border-radius: 34px;
    border: 2px solid white; 
    outline: 2px solid var(--var-main-color);
    margin: 0 auto;
}

.wrapper>.navbar>nav{
    display: flex;
    flex-direction: column;
    padding-left: 21px;
    padding-top: 32px;
    padding-right: 20px;
}

.wrapper>.navbar>nav>p.title{
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 18px;
}

.wrapper>.navbar>nav>a.mobile_link{
    display: none;
}

.wrapper>.navbar>nav>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    outline: none;
    color: #6A6A6A;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 12px;
    border-radius: 10px;
    transition: .2s;
}

.wrapper>.navbar>nav>a:hover{
    background-color: var(--var-main-color);
    color: white;
    transition: .2s;
}

.wrapper>.navbar>nav>a:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: .2s;

}

.wrapper>.navbar>nav>a:active{
    background-color: var(--var-main-color-active);
    color: white;
    transition: .2s;
}

.wrapper>.navbar>nav>a:active img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: .2s;

}

.wrapper>.navbar>nav>a.active{
    background-color: var(--var-main-color);
    color: white;
}

.wrapper>.navbar>nav>a.active>img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.wrapper>.navbar>nav>a>img{
    padding-right: 20px;
}

.wrapper>.layout>header{
    height: 58px;
    padding: 9px 34px;
    display: flex;
    justify-content: end;
}

.wrapper>.layout>header>.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper>.layout>header>.profile>.info{
    padding-left: 7px;
    padding-bottom: 8px;
}

.wrapper>.layout>header>.profile>.info>p.name{
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 600;
}

.wrapper>.layout>header>.profile>.info>p.role{
    font-size: 12px;
    font-weight: 500;
    color: #6A6A6A;
}

.wrapper>.layout>.content{
    background-color: #F9F9FB;
    height: 100%;
    border-radius: 15px 0 0 0;
}

@media (max-width: 992px) {
    .wrapper{
        grid-template-columns: 57px 1fr;
    }
    .logo{
        display: none;
    }
    .wrapper>.navbar{
        padding-top: 0;
    }
    .logo_mobile{
        display: block;
    }
    .wrapper>.navbar>nav{
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    .wrapper>.navbar>nav>p.title{
        display: none;
    }
    .wrapper>.navbar>nav>a>img{
        padding: 0;
    }
    .wrapper>.navbar>nav>a{
        display: none;
    }
    .wrapper>.navbar>nav>a.mobile_link{
        display: block;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .wrapper>.navbar>nav>a.active-mobile{
        background-color: var(--var-main-color);
        padding: 5px;
        padding-bottom: 3px;
    }

    .wrapper>.navbar>nav>a.active-mobile>img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
}

@media (max-width: 767px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    .wrapper>.navbar{
        display: none;
    }
    .wrapper>.layout>header{
        background-color: #F7F7F7;
        border-bottom: 1px solid #D2D3D7;
        justify-content:space-between;
        align-items: center;
        padding: 22px;
    }
    .wrapper>.layout>header>.profile{
        display: none;
    }

    img.mobile-avatar{
        display: block;
    }

    input#toggle{
        display: block;
        opacity: 0;
    }

    input#toggle:checked ~ .layout .content .menu {
        right: 0;
    }
    

    .toggle-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        /* top: 20px; */
        /* right: 20px; */
        cursor: pointer;
      }
      
      .line {
        width: 100%;
        height: 3px;
        background-color: #101010;
        margin: 5px auto;
        border-radius: 200px;
        transition: all 0.3s ease;
      }
      
      #toggle:checked + .toggle-btn .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      
      #toggle:checked + .toggle-btn .line:nth-child(2) {
        opacity: 0;
      }
      
      #toggle:checked + .toggle-btn .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      .menu {
        position: fixed;
        top: 57;
        right: -100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        gap: 14px;
        width: 100vw;
        height: 100%;
        background-color: #F7F7F7;
        padding: 22px;
        transition: all 0.3s ease;
      }

      .menu>.link{
        display: block;
        background-color: var(--var-main-color);
        height: 100px;
        border-radius: 20px;
        padding: 14px;
        color: white;
      }

      .menu>.link>.body{
        padding-top: 12px;
        display: flex;
        justify-content: space-between;
      }
      .menu>.link>.body>p{
        font-size: 14px;
        font-weight: 500;
      }
}