button#mobile-add{
    display: none;
}

.wrapper>.layout>.content>.search-header{
    display: none;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.wrapper>.layout>.content>.search-header>p{
    font-size: 14px;
    color: #6A6A6A;
    font-weight: 700;
}

.wrapper>.layout>.content>.search-header>button{
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.wrapper>.layout>.content>.search-header>button.slide-btn{
    background-image: url(../assets/images/slide.svg);
    filter: contrast(0);
    background-size: cover;
    transition: .2s all;
}

.wrapper>.layout>.content>.search-header>button.slide-btn.active{
    filter: contrast(1);
}

.wrapper>.layout>.content>.search-header>button.slide-btn:hover{
    filter: contrast(1);
    transition: .2s all;
}

.wrapper>.layout>.content>.search-header>button.table-btn{
    background-image: url(../assets/images/table.svg);
    background-size: cover;
    filter: contrast(0);
    transition: .2s all;
}

.wrapper>.layout>.content>.search-header>button.table-btn:hover{
    filter: contrast(1);
    transition: .2s all;
}

.wrapper>.layout>.content>.search-header>button.table-btn.active{
    filter: contrast(1);
}

.wrapper>.layout>.content>.slide-list{
    display: none;
    padding-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.wrapper>.layout>.content>.slide-list>.slide{
    position: relative;
    padding: 25px;
    background-color: white;
    width: 100%;
    height: 260px;
    border-radius: 6px;
    transition: .3s;
    cursor: pointer;
}

.wrapper>.layout>.content>.slide-list>.slide>.title{
    color: #3C3C3C;
    font-weight: 700;
    font-size: 24px;
}

.wrapper>.layout>.content>.slide-list>.slide>.responsible{
    color: #C4CACD;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.wrapper>.layout>.content>.slide-list>.slide>.status{
    position: absolute;
    display: inline;
    padding: 5px 10px;
    background-color: #F6F8FA;
    border-radius: 6px;
    bottom: 30px;
}

/* Стилизация отдельных карточек */
/* Планирование */
.wrapper>.layout>.content>.slide-list>.slide.plan{
    border-bottom: 10px solid #BE9AE4;
}

.wrapper>.layout>.content>.slide-list>.slide.plan>.status{
    color: #BE9AE4;
}
/* В работе */
.wrapper>.layout>.content>.slide-list>.slide.work{
    border-bottom: 10px solid #849FF4;
}

.wrapper>.layout>.content>.slide-list>.slide.work>.status{
    color: #849FF4;
}
/* Отправлено */
.wrapper>.layout>.content>.slide-list>.slide.sent{
    border-bottom: 10px solid #D8BFD8;
}

.wrapper>.layout>.content>.slide-list>.slide.sent>.status{
    color: #D8BFD8;
}
/* Отгружен */
.wrapper>.layout>.content>.slide-list>.slide.shipped{
    border-bottom: 10px solid #AFDAFC;
}

.wrapper>.layout>.content>.slide-list>.slide.shipped>.status{
    color: #AFDAFC;
}
/* Завершено */
.wrapper>.layout>.content>.slide-list>.slide.completed{
    border-bottom: 10px solid #71BC78;
}

.wrapper>.layout>.content>.slide-list>.slide.completed>.status{
    color: #71BC78;
}

/* Анимация карточки */

.wrapper>.layout>.content>.slide-list>.slide:hover{
    background-color: #59B077;
    border-bottom: 0;
}

.wrapper>.layout>.content>.slide-list>.slide:hover .responsible{
    display: none;
}

.wrapper>.layout>.content>.slide-list>.slide:hover .status{
    display: none;
}

.wrapper>.layout>.content>.slide-list>.slide:hover .title{
    color: white;
}

.wrapper>.layout>.content>.table{
    display: none;
    margin-top: 20px;
    background-color: white;
    padding: 20px 10px;
    border-radius: 8px;
    border: 1px solid #E0E4E8;
}

.wrapper>.layout>.content>.table>table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.wrapper>.layout>.content>.table>table>thead>tr>th{
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 10px;
}

.wrapper>.layout>.content>.table>table>tbody>tr{
    cursor: pointer;
    transition: .3s all;
}

.wrapper>.layout>.content>.table>table>tbody>tr:hover{
    background-color: #F6F8FA;
}

.wrapper>.layout>.content>.table>table>tbody>tr>td{
    padding: 15px 0;
}

.wrapper>.layout>.content>.table>table>tbody>tr>td>.status{
    display: inline;
    padding: 5px 10px;
    background-color: #F6F8FA;
    border-radius: 6px;
}

/* Стилизация статусов */
.wrapper>.layout>.content>.table>table>tbody>tr>td>.status.plan{
    color: #BE9AE4;
}
.wrapper>.layout>.content>.table>table>tbody>tr>td>.status.work{
    color: #849FF4;
}
.wrapper>.layout>.content>.table>table>tbody>tr>td>.status.sent{
    color: #D8BFD8;
}
.wrapper>.layout>.content>.table>table>tbody>tr>td>.status.shipped{
    color: #AFDAFC;
}
.wrapper>.layout>.content>.table>table>tbody>tr>td>.status.completed{
    color: #71BC78;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



div#modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(217, 217, 217, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 0.2s ease-in-out;
}


.modal-hide {
    animation: fadeOut 0.3s ease-in-out; /* Анимация исчезновения */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

div#modal>form{
    padding: 40px;
    background-color: white;
    border: 0;
    border-radius: 33px;
    box-shadow: 0px 10px 78px 3px rgba(0, 0, 0, 0.1);
    display: grid;
    width: 40vw;
}

div#modal>form>.modal-title{
    font-size: 32px;
    color: black;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}

div#modal>form>label{
    color: #565555;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 10px;
}

div#modal>form>input{
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    padding: 12px 18px;
    color: #6A6A6A;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 26px;
    outline: none;
}

div#modal>form>select{
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    padding: 12px 18px;
    color: #6A6A6A;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 26px;
    outline: none;
    cursor: pointer;
}

div#modal>form>button{
    padding: 14px 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
}

div#modal>form>button#modal-add{
    margin-bottom: 26px;
    background-color: #59B077;
}

div#modal>form>button#modal-add:hover{
    background-color: var(--var-main-color-hover);
}

div#modal>form>button#modal-add:active{
    background-color: var(--var-main-color-active);
}

div#modal>form>button.close{
    background-color: #F95B5E;
}

div#modal>form>button.close:hover{
    background-color: #E2494C;
}

div#modal>form>button.close:active{
    background-color: #D4474A;
}









/* Стили для выпадающего списка */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 48px;
    background-color: white;
    width: 100%;
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: fadeIn 0.2s ease-in-out;
  }
  
  .dropdown-content div {
    padding: 12px 16px;
    cursor: pointer;
    /* transition: .2s all; */
  }
  
  .dropdown-content div:hover {
    background-color: var(--var-main-color);
    color: white;
  }

  .dropdown-content div:last-child:hover {
    background-color: var(--var-main-color);
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .dropdown-content div:first-child:hover {
    background-color: var(--var-main-color);
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  .show {
    display: block;
  }
  .selected{
    background-color: var(--var-main-color);
    color: white;
  }

  input#thicknessInput, input#responsibleInput, input#colorInput{
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    padding: 12px 18px;
    color: #6A6A6A;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 26px;
    outline: none;
    cursor: pointer;
    width: 100%;
  }




@media (min-width: 2560px) {
    .wrapper>.layout>.content>.slide-list{
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 1770px) and (max-width:2559px){
    .wrapper>.layout>.content>.slide-list{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1465px) and (max-width:1669px){
    .wrapper>.layout>.content>.slide-list{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1120px) and (max-width:1464px){
    .wrapper>.layout>.content>.slide-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 530px) and (max-width: 1119px){
    .wrapper>.layout>.content>.slide-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1299px){
    .wrapper>.layout>.content>.table>table>thead>tr>th#table-plan{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>thead>tr>th#table-fact{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>tbody>tr>td#table-fact-value{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>tbody>tr>td#table-plan-value{
        display: none;
    }
}

@media (max-width: 529px){
    .wrapper>.layout>.content>.slide-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .wrapper>.layout>.content{
        padding: 30px 20px;
    }
    h1{
        font-size: 24px;
    }
    .wrapper>.layout>.content>.slide-list>.slide>.status{
        font-size: 18px;
    }
}

@media (max-width: 768px){
    .wrapper>.layout>.content>.content-header>button#add{
        display: none;
    }
    .wrapper>.layout>.content>.content-header>button#mobile-add{
        display: block;
        padding: 15px;
    }
}

@media (max-width: 1160px){
    .wrapper>.layout>.content>.table>table>thead>tr>th#table-num{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>thead>tr>th#table-date{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>tbody>tr>td#table-num-value{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>tbody>tr>td#table-date-value{
        display: none;
    }
}

@media (max-width: 786px){
    .wrapper>.layout>.content>.table>table>thead>tr>th#table-responseble{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>tbody>tr>td#table-responseble-value{
        display: none;
    }
}

@media (max-width: 425px){
    .wrapper>.layout>.content>.table>table>thead>tr>th#table-status{
        display: none;
    }
    .wrapper>.layout>.content>.table>table>tbody>tr>td#table-status-value{
        display: none;
    }
}

@media (max-width: 1299px){
    div#modal>form{
        width: 50vw;
    }
}

@media (max-width: 1024px){
    div#modal>form{
        width: 60vw;
    }
}

@media (max-width: 768px){
    div#modal>form{
        width: 80vw;
    }
}

@media (max-width: 425px){
    div#modal>form{
        width: 90vw;
    }
}