@import url(./dashboard.css);
@import url(./metal-cad-project.css);

.wrapper>.layout>.content>.content-header>.title-button{
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapper>.layout>.content>.content-header>.title>button.printer{
    margin-left: 10px;
    width: 27px;
    height: 27px;
    background-image: url(../assets/images/printer.svg);
    border: 0;
    cursor: pointer;
    outline: 0;
    background-color: transparent;
}

.wrapper>.layout>.content>.content-header>.title-button>.status-project{
    padding: 6px 16px;
    font-weight: 700;
    border-radius: 6px;
    outline: none;
}

.wrapper>.layout>.content>.content-header>.title-button>.status-project.new{
    background-color: #DDEFFE;
    color: #AFDAFC;
}

.wrapper>.layout>.content>.content-header>.title-button>.status-project.agreement{
    background-color: #ABD6FA;
    color: #74B1E2;
}

.wrapper>.layout>.content>.content-header>.title-button>.status-project.send-workshop{
    background-color: #FDDFB6;
    color: #EFA94A;
}

.wrapper>.layout>.content>.content-header>.title-button>.status-project.revision{
    background-color: #B6C2FD;
    color: #7181D3;
}

.wrapper>.layout>.content>.content-header>.title-button>.status-project.deny{
    background-color: #FFCDCE;
    color: #F95B5E;
}

.wrapper>.layout>.content>.content-header>.title-button>.status-project.work{
    background-color: #CAD6FC;
    color: #849FF4;
}

.wrapper>.layout>.content>.ticket-info{
    margin-top: 20px;
    padding: 25px 10px;
    border: 1px solid #E0E4E8;
    border-radius: 10px;
    background-color: white;
    display: none;
    justify-content: space-between;

}

.wrapper>.layout>.content>.ticket-info>.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper>.layout>.content>.ticket-info>.column>.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper>.layout>.content>.ticket-info>.column>.line>label{
    font-weight: 500;
    padding-right: 10px;
}

.wrapper>.layout>.content>.ticket-info>.column>.line>.custom-select{
    width: 59%;
}

.wrapper>.layout>.content>.ticket-info>.column>.line>input,
.wrapper>.layout>.content>.ticket-info>.column>.line>select{
    background-color: #F6F8FA;
    border: 1px solid #E0E4E8;
    color: #6A6A6A;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 7px;
    outline: none;  
    cursor: auto;
    transition: .1s all;
}

.wrapper>.layout>.content>.ticket-info>.column>.line>.custom-select>input{
    background-color: #F6F8FA;
    border: 1px solid #E0E4E8;
    color: #6A6A6A;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 7px;
    outline: none;  
    cursor: pointer;
    transition: .1s all;
}

.wrapper>.layout>.content>.ticket-info>.column>.line>.custom-select>input{
    border: 1px solid #E0E4E8;

}

.wrapper>.layout>.content>.ticket-info>.column>.line>input[type="date"]{
    cursor: pointer;
    width: 57%;
}

.wrapper>.layout>.content>.ticket-info>.column>.line>select{
    cursor: pointer;
    width: 59%;

}

.wrapper>.layout>.content>.ticket-info>.column>.line>input:focus{
    border: 1px solid var(--var-main-color);
}

.wrapper>.layout>.content>table>tbody>tr>td>input{
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #E0E4E8;
    padding: 8px 10px;
    cursor: pointer;
    outline: none;
    color: #6A6A6A;
    font-weight: 500;
}

.wrapper>.layout>.content>table>tbody>tr>td>input:focus{
    border: 1px solid var(--var-main-color);
}

.wrapper>.layout>.content>table>tbody>tr>td#product-name-value{
    padding: 0;
}

.wrapper>.layout>.content>table>tbody>tr>td#product-name-value>canvas{
    border: 1px solid black;
}

.wrapper>.layout>.content>table>tbody>tr:hover{
    background-color: white;
    box-shadow: none;
    cursor: auto;
}


.custom-select {
    position: relative;
}

.custom-select input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}

.custom-select .select-options {
    position: absolute;
    display: none;
    top: 39px;
    width: 100%;
    border-top: none;
    z-index: 1;
    background-color: #F6F8FA;
    border: 1px solid #E0E4E8;
    color: #6A6A6A;
    font-weight: 500;
    font-size: 13.3333px;
    border-radius: 7px;
    outline: none;  
    cursor: pointer;
    transition: .1s all;
}

.custom-select .select-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-select .select-options ul li {
    padding: 8px;
    cursor: pointer;
    transition: .1s all;
}

.custom-select .select-options ul li:hover {
    background-color: var(--var-main-color);
    color: white;
    border: 0;
}

.custom-select .select-options ul li:first-child:hover{
    border-radius: 7px 7px 0 0;
}

.custom-select .select-options ul li:last-child:hover{
    border-radius: 0 0 7px 7px;
}

.wrapper>.layout>.content>table>tbody>tr>td{
    outline: none;
}

.wrapper>.layout>.content>table>tbody>tr>td:focus{
    border: 1px solid var(--var-main-color);
}

.wrapper>.layout>.content>table>thead>tr>th#product-num, .wrapper>.layout>.content>table>thead>tr>th#product-length,
.wrapper>.layout>.content>table>thead>tr>th#product-quantity{
    width: 75px;
}

.wrapper>.layout>.content>table>thead>tr>th#product-sum{
    width: 125px;
}

.wrapper>.layout>.content>table>thead>tr>th#product-place{
    width: 125px;
}

.wrapper>.layout>.content>table>tbody>tr>td#product-add-button{
    background-color: #F6F8FA;
    border: 1px solid #E0E4E8;
    color: #6A6A6A;
    cursor: pointer;
    transition: .2s all;
}

.wrapper>.layout>.content>table>tbody>tr>td#product-add-button:hover{
    background-color: #F0F2F3;
}

.wrapper>.layout>.content>.nav-ticket{
    padding-top: 20px;
    display: flex;
}

.wrapper>.layout>.content>.nav-ticket>button{
    width: 178px;
    padding: 10px 0;
    color: black;
    font-weight: 500;
    border: 1px solid #E0E4E8;
    background-color: white;
    cursor: pointer;
    transition: .1s all;
}

.wrapper>.layout>.content>.nav-ticket>button.active{
    color: white;
    border: 1px solid var(--var-main-color);
    background-color: var(--var-main-color);
}

.wrapper>.layout>.content>.nav-ticket>button:hover{
    color: white;
    border: 1px solid var(--var-main-color);
    background-color: var(--var-main-color);
}


.wrapper>.layout>.content>.nav-ticket>button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapper>.layout>.content>.nav-ticket>button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper>.layout>.content>.buttons-ticket{
    padding-top: 20px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.wrapper>.layout>.content>.buttons-ticket>button, .wrapper>.layout>.content>.content-header>.title-button>button{
    padding: 12px 40px;
    color: white;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: .2s all;
}

.wrapper>.layout>.content>.buttons-ticket>button.send-to-workshop, .wrapper>.layout>.content>.buttons-ticket>button.approve,
.wrapper>.layout>.content>.content-header>.title-button>button, .wrapper>.layout>.content>.buttons-ticket>button.work{
    background-color: var(--var-main-color);
}

.wrapper>.layout>.content>.buttons-ticket>button.send-to-workshop:hover, .wrapper>.layout>.content>.buttons-ticket>button.approve:hover,
.wrapper>.layout>.content>.content-header>.title-button>button:hover, .wrapper>.layout>.content>.buttons-ticket>button.work:hover{
    background-color: var(--var-main-color-hover);
}

.wrapper>.layout>.content>.buttons-ticket>button.send-to-workshop:active, .wrapper>.layout>.content>.buttons-ticket>button.approve:active,
.wrapper>.layout>.content>.content-header>.title-button>button:active, .wrapper>.layout>.content>.buttons-ticket>button.work:active{
    background-color: var(--var-main-color-active);
}

.wrapper>.layout>.content>.buttons-ticket>button.send-to-approval, .wrapper>.layout>.content>.buttons-ticket>button.send-to-revision,
.wrapper>.layout>.content>.buttons-ticket>button.send-to-revision-workshop{
    background-color: #EFA94A;
}

.wrapper>.layout>.content>.buttons-ticket>button.send-to-approval:hover, .wrapper>.layout>.content>.buttons-ticket>button.send-to-revision:hover,
.wrapper>.layout>.content>.buttons-ticket>button.send-to-revision-workshop:hover{
    background-color: #F1BA70;
}

.wrapper>.layout>.content>.buttons-ticket>button.send-to-approval:active, .wrapper>.layout>.content>.buttons-ticket>button.send-to-revision:active,
.wrapper>.layout>.content>.buttons-ticket>button.send-to-revision-workshop:active{
    background-color: #E59322;
}

.wrapper>.layout>.content>.buttons-ticket>button.delete, .wrapper>.layout>.content>.buttons-ticket>button.deny{
    background-color: #F95B5E;
}

.wrapper>.layout>.content>.buttons-ticket>button.delete:hover, .wrapper>.layout>.content>.buttons-ticket>button.deny:hover{
    background-color: #E2494C;
}

.wrapper>.layout>.content>.buttons-ticket>button.delete:active, .wrapper>.layout>.content>.buttons-ticket>button.deny:active{
    background-color: #D4474A;
}

#printContent{
    display: none;
}

*{
    font-family: 'Inter', sans-serif;
}

#printContent>.title-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#printContent>.title-content>p.title{
    margin: auto;
}

#printContent>table{
    margin-top: 10px;
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
}

#printContent>table>tbody>tr>td{
    border: 2px solid black;
    padding: 5px;
}

#printContent>input{
    width: 100%;
    border: 0;
    font-size: 20px;
}

#printContent>canvas{
    width: 100%;
} 

#printContent>.made-up{
    margin-top: 10px;
    text-align: right;
    font-size: 18px;
}

#printContent>p.length{
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: 210px;
    font-size: 36px;
}

.modal-record-production{
    height: 100vh;
    width: 100vw;
    background-color: #D4474A;
}