:root{
    --var-main-color: #59B077;
    --var-main-color-hover: #4F9C6A;
    --var-main-color-active: #45855B;
    --grey: #565555;
    --grey-hover: #403E3E;
    --grey-active: #2F2D2D;
    --light-grey: #D2D3D7;
}